---
layout: default
title: Posts by Category
---

<p class="meta">
  <a href="{{site.url}}">
    <i class="home fa fa-home"></i>
  </a>
</p>

<div id="home">
  <h2><i class="fa fa-bookmark"></i> Categories:</h2>
  
  <ul id="blog-posts" class="posts">
  {% for category in site.categories %}
  <li>&raquo; <a href="#{{ category | first }}">{{ category | first }}</a></li>
  {% endfor %}
  </ul>
  <br/>
</div>

<div id="home">
  <h2><i class="fa fa-bookmark"></i> Posts by Category:</h2>
  
  <ul id="blog-posts" class="posts">
  {% for category in site.categories %}
  <li>&raquo; <a name="{{ category | first }}">{{ category | first }}</a>:
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        {% if post.url %}<li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>{% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
  {% endfor %}
  </ul>
  <br/>
</div>