<nav>
  <h1>Hi.</h1>
  <a href="{{site.url}}">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="{{site.url}}/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="{{site.url}}">{{ site.data.theme.name }}</a>.</h2>  

  <div id="bio">
    <p>
     I'm an engineer, game developer, programmer, graphic artist... and this is my blog. To know more about me you can visit my main website:</br><a href="http://www.binarynonsense.com">binarynonsense.com</a>
    </p>
  </div>
  
  <div id="social">
    {% include social.html %}
  </div>
  
  
  <div id="sections">
    <ul>
    <li><a href="{{site.url}}">All Posts</a></li>
    <li><a href="{{site.url}}">Categories</a></li>
    <li><a href="{{site.url}}">Interesting links</a></li>
    <li><a href="{{site.url}}">Old blog</a></li>
    </ul>
  </div>
  
</nav>