<!DOCTYPE html>
<html>
  <title>
    {{ page.title }} | Blog | Binary Nonsense | Website of Álvaro García
  </title>

  <meta charset="UTF-8" />
  <meta name="author" content="Alvaro Garcia C - www.binarynonsense.com" />
  <meta
    name="description"
    content="Binary Nonsense - Website and Portfolio of Álvaro García"
  />
  <meta
    name="keywords"
    content="Alvaro,Garcia,portfolio,art,programming,illustration, game, gamedev"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link
    rel="shortcut icon"
    href="https://blog.binarynonsense.com/imgs/favicon.ico"
    type="image/x-icon"
  />
  <link
    rel="icon"
    href="https://blog.binarynonsense.com/imgs/favicon.ico"
    type="image/x-icon"
  />
  <link rel="stylesheet" href="https://blog.binarynonsense.com/css/w3.css" />
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat"
  />
  <!-- <link href="./fonts/css/all.css" rel="stylesheet"> local fontawesome -->
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous"
  />

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Inconsolata"
  />
  <link rel="stylesheet" href="{{site.url}}/css/highlighter.css" />
  <link rel="stylesheet" href="{{site.url}}/css/style.css" />

  <body class="w3-black">
    <div id="navbar">
      <div class="topnav content" id="myTopnav">
        <a href="http://www.binarynonsense.com" class="logo"
          ><img src="{{site.url}}/imgs/logo.png" alt=""
        /></a>
        <a href="http://www.binarynonsense.com/#contact">contact</a>
        <a href="http://blog.binarynonsense.com/">blog</a>
        <a href="http://www.binarynonsense.com/projects">other</a>
        <a href="http://www.binarynonsense.com/software">software</a>
        <a href="http://www.binarynonsense.com/art">art</a>
        <a href="http://www.binarynonsense.com/games">games</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <!-- Page Content -->
    <div id="main">
      <!-- Header -->
      <div class="w3-content w3-justify w3-text-grey" id="about">
        <div class="w3-container w3-cell w3-mobile">
          <img
            src="{{site.url}}/imgs/header_illustration_he.jpg"
            class="w3-image"
          />
        </div>

        <div class="w3-container w3-cell w3-cell-middle w3-mobile">
          <img src="{{site.url}}/imgs/header_title_ag.jpg" class="w3-image" />
          <h1
            class="w3-text-light-grey w3-right-align"
            style="padding-right: 20px"
          >
            BLOG
          </h1>
        </div>
        <!-- Content -->
        <div class="w3-row-padding w3-padding-16">
          <div class="w3-col l9 m9 s12 w3-margin-bottom">
            <!-- //////////////////////////////////////////////// -->
            {{ content }}
            <!-- //////////////////////////////////////////////// -->
          </div>
          <div
            class="w3-col l3 m3 s12 w3-margin-bottom w3-padding-large"
            style="text-align: left"
          >
            <div id="sections" style="margin-top: 50px">
              <p class="w3-margin-left w3-text-light-grey">posts:</p>
              <ul>
                <li>
                  <a href="http://blog.binarynonsense.com">by date</a>
                </li>
                <li>
                  <a href="http://blog.binarynonsense.com/categories/"
                    >by category</a
                  >
                </li>
                <li>
                  <a href="http://blog.binarynonsense.com/feed.xml">feed</a>
                </li>
              </ul>

              <!-- <hr class="w3-opacity" style="width:70%; margin-left:15% !important; margin-right:15% !important;" /> -->
              <p class="w3-margin-left w3-text-light-grey">categories:</p>
              <ul>
                <li>
                  <a href="http://blog.binarynonsense.com/categories/#art"
                    >art</a
                  >
                </li>
                <li>
                  <a
                    href="http://blog.binarynonsense.com/categories/#game-reviews"
                    >game reviews</a
                  >
                </li>
                <li>
                  <a href="http://blog.binarynonsense.com/categories/#gamedev"
                    >gamedev</a
                  >
                </li>
                <li>
                  <a
                    href="http://blog.binarynonsense.com/categories/#high-entropy"
                    >high entropy</a
                  >
                </li>
                <li>
                  <a
                    href="http://blog.binarynonsense.com/categories/#handoru-island"
                    >handoru island</a
                  >
                </li>
                <li>
                  <a href="http://blog.binarynonsense.com/categories/"
                    >more...</a
                  >
                </li>
              </ul>

              <p class="w3-margin-left w3-text-light-grey">lists:</p>
              <ul>
                <li>
                  <a href="http://blog.binarynonsense.com/favorite-links/"
                    >favorite links</a
                  >
                </li>
                <li>
                  <a href="http://blog.binarynonsense.com/interesting-links/"
                    >interesting links</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- END PAGE CONTENT -->
    </div>

    <div id="footer">
      <div class="content" id="myTopnav">
        <div class="w3-cell-row w3-center">
          <div
            class="w3-container w3-cell w3-mobile w3-opacity w3-small w3-padding"
          >
            <p>
              &copy; Álvaro García &nbsp;&nbsp;
              <a
                class="link"
                data-title="twitter.com/binarynonsense"
                href="http://twitter.com/binarynonsense"
                target="_blank"
                style="text-decoration: none"
              >
                <i class="fab fa-twitter w3-hover-opacity"></i>
              </a>

              <a
                class="link"
                data-title="https://binarynonsense.artstation.com/"
                href="https://binarynonsense.artstation.com/"
                target="_blank"
                style="text-decoration: none"
              >
                <i class="fab fa-artstation w3-hover-opacity"></i>
              </a>

              <a
                class="link"
                data-title="youtube.com/user/binarynonsense"
                href="http://www.youtube.com/user/binarynonsense"
                target="_blank"
                style="text-decoration: none"
              >
                <i class="fab fa-youtube w3-hover-opacity"></i>
              </a>

              <a
                class="link"
                data-title="https://store.steampowered.com/developer/binarynonsense/"
                href="https://store.steampowered.com/developer/binarynonsense/"
                target="_blank"
                style="text-decoration: none"
              >
                <i class="fab fa-steam w3-hover-opacity"></i>
              </a>

              <!-- <a
                class="link"
                data-title="https://binarynonsense.itch.io/"
                href="https://binarynonsense.itch.io/"
                target="_blank"
                style="text-decoration: none"
              >
                <i class="fab fa-itch-io w3-hover-opacity"></i>
              </a> -->

              <a
                class="link"
                data-title="github.com/binarynonsense"
                href="https://github.com/binarynonsense"
                target="_blank"
                style="text-decoration: none"
              >
                <i class="fab fa-github w3-hover-opacity"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- scroll to top button -->
    <button onclick="scrollToTop()" id="scrollToTopBtn" title="Go to top">
      <i class="fas fa-arrow-up"></i>
    </button>
    <!-- javascript -->
    <script src="{{site.url}}/js/nav.js"></script>
  </body>
</html>
